@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff") format("woff"),
    url("../fonts/cuprum.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff") format("woff"),
    url("../fonts/cuprumbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff") format("woff"),
    url("../fonts/cuprumitalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff") format("woff"),
    url("../fonts/cuprumbolditalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff") format("woff"),
    url("../fonts/cuprumitalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff") format("woff"),
    url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Cuprum", "Arial", sans-serif;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/* Стилизация страницы index */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header__wrapper {
  height: 42px;
  background-color: #293449;
}

.container_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  outline: none;
  -webkit-box-shadow: 0 5px 0px #b52933;
  box-shadow: 0 5px 0px #b52933;
}

.header__logo-link:hover,
.header__logo-link:focus {
  background-color: #ca2c37;
}

.header__logo-link:active {
  background-color: #ba2732;
}

.user-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search {
  position: relative;
}

.search__label::after {
  position: absolute;
  top: 50%;
  left: 17px;
  width: 17px;
  height: 17px;
  content: "";
  background-image: url('../img/icons/icon-search.svg');
  background-repeat: no-repeat;
  opacity: 0.3;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search__input {
  position: relative;
  padding-left: 49px;
  width: 270px;
  height: 42px;
  font-size: 17px;
  background-color: #293449;
  border: none;
  outline: none;
}

.search__input:hover {
  background-color: #212a3a;
}

.search__input:focus {
  background-color: #ffffff;
}

.search__input:hover+.search__label::after,
.search__input:focus+.search__label::after {
  opacity: 1;
}

.search__input:focus+.search__label::after {
  background-image: url('../img/icons/icon-search-red.svg');
}

.user-order__link {
  position: relative;
  display: block;
  width: 150px;
  padding: 8px 0px;
  font-size: 17px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  outline: none;
}

.user-order__link_pl {
  padding-left: 15px;
}

.user-order__link_icon-bm::before {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url('../img/icons/icon-bookmark.svg');
  background-repeat: no-repeat;
  opacity: 0.3;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.user-order__link_icon-bt::before {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url('../img/icons/cart-icon.svg');
  background-repeat: no-repeat;
  opacity: 0.3;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.user-order__link_bgc {
  background-color: #63a63e;
}

.user-order__link_bgc:hover,
.user-order__link_bgc:focus {
  background-color: #5fbb2d;
}

.user-order__link_bgc:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.6);
}

.user-order__link_icon-bm:hover,
.user-order__link_icon-bm:focus {
  background-color: #212a3a;
}

.user-order__link_icon-bm:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.user-order__link_icon-bt:hover,
.user-order__link_icon-bt:focus {
  background-color: #212a3a;
}

.user-order__link_icon-bt:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.user-order__link_icon-bm:hover::before,
.user-order__link_icon-bm:focus::before {
  opacity: 1;
}

.user-order__link_icon-bt:hover::before,
.user-order__link_icon-bt:focus::before {
  opacity: 1;
}

.user-order__link_icon-bm:active::before {
  opacity: 0.3;
}

.user-order__link_icon-bt:active::before {
  opacity: 0.3;
}

.substrate .container_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 158px;
  padding: 47px 0px;
}

.substrate {
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.description {
  width: 210px;
  margin: 0;
  margin-left: 53px;
  font-size: 16px;
  font-style: italic;
  color: #ee3643;
}

.contacts {
  width: 270px;
  margin-left: 58px;
  text-align: center;
}

.contacts__phone {
  position: relative;
  width: 270px;
  margin: 0;
  padding: 3px 3px 3px 23px;
  font-size: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.contacts__phone::before {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 19px;
  height: 19px;
  content: "";
  background-image: url('../img/icons/icon-phone.svg');
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contacts__address {
  margin: 0;
  margin-top: 7px;
  font-size: 14px;
  color: #32425c;
}

.user {
  margin-left: 68px;
}

.user__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.user__navigation-login-link {
  position: relative;
  display: block;
  margin-right: 10px;
  padding: 6px 27px 6px 46px;
  font-size: 21px;
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;
  outline: none;
}

.user__navigation-login-link::before {
  position: absolute;
  top: 50%;
  left: 14px;
  width: 20px;
  height: 17px;
  content: "";
  background-image: url('../img/icons/icon-login.svg');
  background-repeat: no-repeat;
  opacity: 0.3;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.user__navigation-registration-link {
  display: block;
  padding: 6px 24px;
  font-size: 21px;
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;
  outline: none;
}

.user__navigation-login-link:hover::before,
.user__navigation-login-link:focus::before {
  opacity: 1;
}

.user__navigation-login-link:hover,
.user__navigation-login-link:focus {
  color: rgba(238, 54, 67, 1);
}

.user__navigation-login-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user__navigation-login-link:active:before {
  opacity: 0.3;
}

.user__navigation-registration-link:hover,
.user__navigation-registration-link:focus {
  color: rgba(238, 54, 67, 1);
}

.user__navigation-registration-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  padding: 0px 25px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.main-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation__list-link {
  display: block;
  padding: 20px 30px;
  font-size: 17px;
  color: rgba(255, 255, 255, 1);
  line-height: 0.9;
  outline: none;
}

.main-navigation__list-link:hover,
.main-navigation__list-link:focus {
  background-color: #293449;
}

.main-navigation__list-link:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 58px;
  margin-bottom: 53px;
}

.offers__item {
  position: relative;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  padding: 20px 28px 22px 22px;
  color: #ffffff;
}

.offers__title {
  margin: 0;
  font-size: 24px;
}

.offers__item-material {
  background-color: #ffbf47;
  margin-right: 20px;
}

.offers__item-tools {
  background-color: #3bbce3;
  margin-right: 20px;
}

.offers__item-technique {
  background-color: #dc91d8;
}

.offers__item-discounts {
  background-color: #8ed78f;
}

.offers__item-delivery {
  margin-bottom: 0;
  background-color: #ffc047;
}

.offers__item-material::after {
  position: absolute;
  top: 30px;
  left: 212px;
  width: 44px;
  height: 65px;
  content: "";
  background-image: url("../img/icons/material-icons.svg");
  background-repeat: no-repeat;
}

.offers__item-tools::after {
  position: absolute;
  top: 32px;
  left: 197px;
  width: 75px;
  height: 61px;
  content: "";
  background-image: url("../img/icons/instrument-icons.svg");
  background-repeat: no-repeat;
}

.offers__item-technique::after {
  position: absolute;
  top: 30px;
  left: 192px;
  width: 78px;
  height: 62px;
  content: "";
  background-image: url("../img/icons/texnika-icons.svg");
  background-repeat: no-repeat;
}

.offers__item-discounts::after {
  position: absolute;
  top: 25px;
  left: 196px;
  width: 59px;
  height: 72px;
  content: "";
  background-image: url("../img/icons/sell-icons.svg");
  background-repeat: no-repeat;
}

.offers__item-delivery::after {
  position: absolute;
  top: 31px;
  left: 190px;
  width: 78px;
  height: 63px;
  content: "";
  background-image: url("../img/icons/transfer-icons.svg");
  background-repeat: no-repeat;
}

.offers__link {
  display: block;
  width: 135px;
  margin-top: 9px;
  margin-left: 2px;
  padding: 9px 0px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  outline: none;
}

.offers__link:hover,
.offers__link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.offers__link:active {
  background-color: rgba(0, 0, 0, 0.3);
}


.offers__item_new::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  content: "";
  background-image: url("../img/new.png");
  background-repeat: no-repeat;
}

.offers__slider {
  position: relative;
  margin-right: 20px;
}

.offers__slider-item {
  position: relative;
  display: none;
  height: 266px;
}

.offers__slider-item_display {
  display: block;
}

.offers__slider-title {
  position: absolute;
  top: 13px;
  left: 24px;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

}

.offers__slider-subtitle {
  position: absolute;
  top: 59px;
  left: 25px;
  margin: 0;
  font-size: 18px;
  color: #ffffff;
}

.offers__slider-link {
  position: absolute;
  left: 26px;
  bottom: 20px;
  display: block;
  width: 195px;
  padding: 9px 0px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;
  outline: none;
}

.offers__slider-link:hover,
.offers__slider-link:focus {
  background-color: #ca2c37;
}

.offers__slider-link:active {
  background-color: #ba2732;
}

.offers__slider-btn {
  position: absolute;
  top: 50%;
  width: 22px;
  height: 40px;
  border: none;
  background-color: transparent;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.offers__slider-btn_left {
  left: 25px;
  background-image: url("../img/icons/icon-left.svg");
  background-repeat: no-repeat;
}

.offers__slider-btn_right {
  right: 20px;
  background-image: url("../img/icons/icon-right.svg");
  background-repeat: no-repeat;
}

.offers__slide-indecator {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 37px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.current-slide__item {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0px 5px;
  background-color: #ffffff;
  border-radius: 50%;
}

.current-slide__item_after::after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 7px;
  height: 7px;
  content: "";
  background-color: #ee3643;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrapper-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 89px;
  margin-bottom: 20px;
  padding: 0px 24px 0px 28px;
  background-color: #f9f5f0;
}

.popular-title {
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.popular-link {
  position: relative;
  right: 0;
  display: block;
  width: 253px;
  font-size: 14px;
  color: #ffffff;
  padding: 9px 0px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
  outline: none;
}

.popular-link:hover,
.popular-link:focus {
  background-color: #ca2c37;
}

.popular-link:active {
  background-color: #ba2732;
}

.wrapper-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.product {
  position: relative;
  width: 220px;
  height: 318px;
  margin-bottom: 21px;
  border: 1px solid #eaeaea;
  cursor: pointer;
  outline: none;
}

.product__about {
  text-align: center;
}

.product__name {
  width: 190px;
  margin: auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
}

.product__discount {
  display: block;
  height: 19px;
  margin-top: 9px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #a9a9a9;
  text-decoration: line-through;
}

.product__price {
  position: relative;
  width: 121.5px;
  margin: 0;
  margin-left: 42px;
  margin-top: 11px;
  padding: 5px 5px 5px 15px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 17px;
  line-height: 1.7;
  background-color: #ee3643;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.product__price::after {
  position: absolute;
  right: -38px;
  top: 0;
  content: "";
  border: 19px solid transparent;
  border-left: 19.5px solid #ee3643;
}

.product__purchase {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 170px;
  padding-top: 44px;
  background-color: #ffffff;
}

.product__purchase-buy {
  position: relative;
  display: block;
  width: 135px;
  padding: 11px 47px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px -3px 0 0 #367315;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  cursor: pointer;
  outline: none;
}

.product__purchase-bookmark {
  display: block;
  width: 135px;
  padding: 9px 30px;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: rgba(50, 66, 92, 1);
  border: 3px solid #63a63e;
  border-radius: 3px;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}

.product__purchase-buy::before {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 16px;
  height: 15px;
  content: "";
  background-image: url('../img/icons/cart-icon.svg');
  background-repeat: no-repeat;
  opacity: 0.3;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.product_new::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  content: "";
  background-image: url("../img/new.png");
  background-repeat: no-repeat;
}

.product__purchase-buy:hover,
.product__purchase-buy:focus {
  background-color: #5fbb2d;
}

.product__purchase-buy:hover::before,
.product__purchase-buy:focus::before {
  opacity: 1;
}

.product__purchase-buy:active {
  background-color: #518534;
}

.product__purchase-bookmark:hover,
.product__purchase-bookmark:focus {
  border-color: #32425c;
}

.product__purchase-bookmark:active {
  opacity: 0.3;
}

.product:hover,
.product:focus {
  -webkit-box-shadow: 0px 5px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0px 5px 25px 0 rgba(41, 52, 73, 0.5)
}

.product:hover .product__purchase,
.product:focus .product__purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular-manufacturers {
  margin-bottom: 67px;
}

.wrapper-manufacturers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
}

.manufacturers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  outline: none;
}

.manufacturers__link:hover,
.manufacturers__link:focus {
  -webkit-box-shadow: 0px 5px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0px 5px 25px 0 rgba(41, 52, 73, 0.5)
}

.services {
  margin-bottom: 70px;
  padding: 53px 0px 99px;
  background-color: #f4f8fa;
}

.services__title {
  margin: 0;
  margin-bottom: 21px;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.services__subtitle {
  width: 400px;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.8;
}

.wrapper-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 256px;
}

.services__block {
  margin-top: 31px;
  margin-left: 80px;
}

.services__block-item {
  position: relative;
  display: none;
}

.services__block_display {
  display: block;
}


.services__control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 240px;
  margin: 0;
  margin-top: 70px;
}

.services__control::after {
  position: absolute;
  top: -45px;
  right: 0;
  width: 10px;
  height: 279px;
  content: "";
  background-image: url('../img/img-slider/slider__service-after.png');
  background-repeat: no-repeat;
}

.services__control-btn {
  padding: 19px 0px 19px 22px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  background-color: #32425c;
  border: none;
  -webkit-box-shadow: 0px 1px 0 0 #293449,
    inset 0px 1px 0 0 #405069;
  box-shadow: 0px 1px 0 0 #293449,
    inset 0px 1px 0 0 #405069;
  cursor: pointer;
  outline: none;
}

.services__control :first-child {
  -webkit-box-shadow: 0px 1px 0 0 #ffffff,
    inset 0px 1px 0 0 #ffffff;
  box-shadow: 0px 1px 0 0 #ffffff,
    inset 0px 1px 0 0 #ffffff;
}

.services__control :last-child {
  -webkit-box-shadow: inset 0px 1px 0 0 #405069;
  box-shadow: inset 0px 1px 0 0 #405069;
}

.services__control-btn_active {
  color: #32425c;
  background-color: #ffffff;
}

.services__control-btn:hover,
.services__control-btn:focus {
  background-color: #293449;
}

.services__control .services__control-btn_active:hover,
.services__control .services__control-btn_active:focus {
  background-color: #ffffff;
}

.services__block-title {
  margin-bottom: 0;
  font-size: 36px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.services__block-subtitle {
  max-height: 150px;
  margin-top: 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.8;
  overflow: hidden;
}

.services__block-delivery::after {
  position: absolute;
  top: 29px;
  left: 150px;
  width: 468px;
  height: 261px;
  content: "";
  background-image: url('../img/img-slider/slide__service-img1.png');
  background-repeat: no-repeat;
}

.services__block-guarantee::after {
  position: absolute;
  left: 240px;
  top: 7px;
  width: 389px;
  height: 283px;
  content: "";
  background-image: url('../img/img-slider/slide__service-img2.png');
  background-repeat: no-repeat;
}

.services__block-credit::after {
  position: absolute;
  left: 165px;
  top: 5px;
  width: 465px;
  height: 285px;
  content: "";
  background-image: url('../img/img-slider/slide__service-img3.png');
  background-repeat: no-repeat;
}

.services__block-link {
  position: relative;
  display: block;
  width: 195px;
  margin-top: 29px;
  padding: 9px 0px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
  outline: none;
}

.services__block-link:hover,
.services__block-link:focus {
  background-color: #ca2c37;
}

.services__block-link:active {
  background-color: #ba2732;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 87px;
}

.about__us {
  width: 530px;
}

.about__us-title {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.about__us-subtitle {
  margin-top: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.8;
}

.about__us-transportation {
  margin-top: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.8;
}

.company-transportation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.company-transportation__item {
  position: relative;
  padding-left: 37px;
  line-height: 2.23;
}

.company-transportation__item::before {
  position: absolute;
  top: 19px;
  left: 0;
  width: 25px;
  height: 2px;
  content: "";
  background-color: #ee3643;
}

.about__us-read-more {
  position: relative;
  display: block;
  width: 220px;
  margin-top: 27px;
  padding: 8px 0px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
  outline: none;
}

.about__us-read-more:hover,
.about__us-read-more:focus {
  background-color: #ca2c37;
}

.about__us-read-more:active {
  background-color: #ba2732;
}

.about__contacts {
  width: 300px;
}

.about__contacts-title {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.about__contacts-pick-up {
  margin-top: 20px;
  margin-bottom: 34px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.8;
}

.about__map {
  cursor: pointer;
}

.about__contacts-write-us {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 32px;
  padding: 8px 0px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.about__contacts-write-us:hover,
.about__contacts-write-us:focus {
  background-color: #ca2c37;
}

.about__contacts-write-us:active {
  background-color: #ba2732;
}

.popup-map {
  position: fixed;
  display: none;
  top: 10%;
  left: 50%;
  width: 940px;
  height: 446px;
  overflow: hidden;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
  box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.popup-map__img {
  position: absolute;
  z-index: -1;
}

.popup-map__close {
  position: absolute;
  top: 13px;
  right: 10px;
  z-index: 999;
  width: 21px;
  height: 21px;
  background-image: url("../img/icons/close-form.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup-map_display {
  display: block;
}

.ymaps-2-1-72-controls__toolbar_right {
  margin-right: 34px;
}

.write-us {
  position: fixed;
  display: none;
  top: 10%;
  left: 50%;
  z-index: 1000;
  width: 620px;
  height: 430px;
  background-color: #fff;
  border-top: 7px solid #ff5358;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.write-us_display {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.write-us_error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.wrapper-answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 55px 80px 37px;
}

.wrapper-name,
.wrapper-email {
  margin: 0;
  width: 220px;
}

.wrapper-text {
  margin: 0;
  margin-top: 21px;
}

.wrapper-name {
  margin-right: 20px;
}

.write-us__input {
  width: 100%;
  height: 38px;
  padding-left: 15px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  outline: none;
}

.write-us__textarea {
  padding: 12px 15px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  outline: none;
  resize: none;
}

.wrapper-answer-btn {
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.write-us__submit {
  width: 460px;
  padding: 9px 0px;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.write-us__submit:hover,
.write-us__submit:focus {
  background-color: #ca2c37;
}

.write-us__submit:active {
  background-color: #ba2732;
}

.write-us__close {
  position: absolute;
  top: 16px;
  right: 9px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icons/close-form.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.footer-wrapper-top {
  background-color: #32425c;
}

.footer-wrapper-bottom {
  background-color: #293449;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 48px;
}

.footer__top-logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220px;
  height: 68px;
  background-color: #ee3643;
  -webkit-box-shadow: inset 0 -5px 0px #b52933;
  box-shadow: inset 0 -5px 0px #b52933;
  cursor: pointer;
}

.footer__top-address {
  margin: 0;
  margin-top: 28px;
  margin-left: 5px;
  color: #ffffff;
  line-height: 1.3;
}

.footer__top-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 548px;
  margin: 0;
  padding: 0;
  margin-top: 36px;
  margin-left: 63px;
  list-style: none;
}

.footer__top-navigation-link {
  color: #ffffff;
  outline: none;
}

.footer__bottom-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 525px;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-left: 86px;
  list-style: none;
}

.footer__bottom-navigation-link {
  color: #ffd180;
  outline: none;
}

.footer__top-logo-link:hover,
.footer__top-logo-link:focus {
  background-color: #ca2c37;
}

.footer__top-logo-link:active {
  background-color: #ba2732;
}

.footer__top-navigation-link:hover,
.footer__top-navigation-link:focus,
.footer__bottom-navigation-link:hover,
.footer__bottom-navigation-link:focus {
  text-decoration: underline;
}

.footer__top-navigation-link:active,
.footer__bottom-navigation-link:active {
  opacity: 0.5;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 38px 0px 31px;
}


.footer__bottom-copyright {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.3;
}


.footer__bottom-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: 104px;
  padding: 0;
  list-style: none;
}

.footer__bottom-social-link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212a3a;
  outline: none;
}

.footer__bottom-social :nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
}

.footer__bottom-social-vk::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 15px;
  content: "";
  background-image: url("../img/icons/vk-icon.svg");
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer__bottom-social-fb::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 22px;
  content: "";
  background-image: url("../img/icons/fb-icon.svg");
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer__bottom-social-inst::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 21px;
  content: "";
  background-image: url("../img/icons/insta-icon.svg");
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer__bottom-social-link:hover,
.footer__bottom-social-link:focus {
  background-color: #ee3643;
}

.footer__bottom-social-link:active {
  background-color: #ee3643;
}

.footer__bottom-communication,
.footer__bottom-developed {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.3;
}

.footer__bottom-communication-link,
.footer__bottom-developed-link {
  color: #ffd180;
  outline: none;
}

.footer__bottom-communication {
  margin-left: 70px;
}

.footer__bottom-developed {
  margin-right: 13px;
}

.footer__bottom-communication-link:hover,
.footer__bottom-communication-link:focus,
.footer__bottom-developed-link:hover,
.footer__bottom-developed-link:focus {
  text-decoration: underline;
}

.footer__bottom-communication-link:active,
.footer__bottom-developed-link:active {
  color: #ee3643;
  text-decoration: none;
}

/* Стилизация странцы catalog */

.user-order__link_bg {
  background-color: #ee3643;
}

.user-logged {
  margin-left: 50px;
}

.user__navigation-logged {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 299px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user__navigation-logged-in {
  margin-bottom: 3px;
}

.user__navigation-logged-in-link {
  position: relative;
  display: block;
  width: 299px;
  padding: 6px 0px 6px 47px;
  font-size: 21px;
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;
  outline: none;
}

.user__navigation-logged-in-link::before {
  position: absolute;
  top: 50%;
  left: 14px;
  width: 20px;
  height: 18px;
  content: "";
  opacity: 0.3;
  background-image: url("../img/icons/icon-user.svg");
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.user__navigation-out-link::before {
  position: absolute;
  top: 13px;
  right: 11px;
  width: 20px;
  height: 18px;
  content: "";
  opacity: 0.3;
  background-image: url("../img/icons/icon-logout.svg");
  background-repeat: no-repeat;
}

.user__navigation-order-link,
.user__navigation-profile-link {
  font-size: 16px;
  color: rgba(50, 66, 92, 1);
  text-decoration: underline;
  outline: none;
}

.user__navigation-order {
  position: relative;
  margin-left: 18px;
}

.user__navigation-profile {
  margin-left: 32px;
}

.user__navigation-order::after {
  position: absolute;
  top: 50%;
  right: -19px;
  width: 5px;
  height: 5px;
  content: "";
  border-radius: 50%;
  background-color: #32425c;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.user__navigation-logged-in-link:hover::before,
.user__navigation-logged-in-link:hover+.user__navigation-out-link::before,
.user__navigation-logged-in-link:focus::before,
.user__navigation-logged-in-link:focus+.user__navigation-out-link::before {
  opacity: 1;
}

.user__navigation-logged-in-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user__navigation-logged-in-link:active::before,
.user__navigation-logged-in-link:active+.user__navigation-out-link::before {
  opacity: 0.3;
}

.user__navigation-order-link:hover,
.user__navigation-order-link:focus,
.user__navigation-profile-link:hover,
.user__navigation-profile-link:focus {
  color: #ee3643;
}

.user__navigation-order-link:active,
.user__navigation-profile-link:active {
  color: rgba(50, 66, 92, 0.3);
}

.wrapper-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0px;
  padding: 0;
  list-style: none;
}

.breadcrumbs__link {
  position: relative;
  display: block;
  margin-right: 40px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.4;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs .breadcrumbs__item:first-child .breadcrumbs__link {
  margin-right: 54px;
}

.breadcrumbs .breadcrumbs__item:first-child .breadcrumbs__link::before {
  position: absolute;
  top: 3px;
  left: -2px;
  width: 15px;
  height: 12px;
  content: "";
  background-image: url("../img/icons/icon-home.svg");
  background-repeat: no-repeat;
}

.breadcrumbs .breadcrumbs__item:first-child .breadcrumbs__link::after {
  right: -36px;
}

.breadcrumbs__trail::after {
  position: absolute;
  top: 3px;
  right: -26px;
  width: 8px;
  height: 12px;
  content: "";
  background-image: url("../img/icons/icon-right-small.svg");
  background-repeat: no-repeat;
}

.name-product {
  margin-bottom: 20px;
  padding: 23px 0px 23px 28px;
  background-color: #f2f6f8;
}

.name-product__title {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.filters-product {
  width: 220px;
  margin-right: 20px;
}

.filters-product__price {
  display: block;
  margin-bottom: 15px;
  padding: 9px 9px 9px 19px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filters-product__price-group {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  border: none;
}

.filters-product__price-title {
  margin-bottom: 15px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.price-slider {
  margin-bottom: 7px;
  width: 100%;
  padding: 40px 20px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.price-slider__line {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #d7dcde;
}

.price-slider__line-fill {
  width: 90%;
  height: 2px;
  background-color: #00ca74;
}

.price-slider__control {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  outline: none;
}

.price-slider__control::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  content: "";
  background-color: #ababab;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-slider__control-min {
  left: 0;
}

.price-slider__control-max {
  right: 10%;
}

.filters-product__price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 38px;
}

.filters-product__price-input {
  width: 95px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
  outline: none;
}

.filters-product__choice {
  display: none;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}

.filters-product__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 0;
  border: none;
}

.filters-product__group :last-child {
  margin-bottom: 11px;
}

.filters-product__group-title {
  margin-bottom: 15px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.filters-product__manufacturers,
.filters-product__type {
  position: relative;
  display: block;
  margin-bottom: 18px;
  padding-left: 35px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.filters-product__manufacturers::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  content: "";
  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.filters-product__choice:checked+.filters-product__manufacturers::before {
  background-image: url("../img/icons/checkbox-on.svg");
}

.filters-product__type::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  content: "";
  background-image: url("../img/icons/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.filters-product__manufacturers:hover::before,
.filters-product__manufacturers:focus::before,
.filters-product__type:hover::before,
.filters-product__type:focus::before {
  opacity: 0.4;
}

.filters-product__choice:checked+.filters-product__type::before {
  background-image: url("../img/icons/radio-on.svg");
}

.filters-product__choice:disabled+.filters-product__manufacturers,
.filters-product__choice:disabled+.filters-product__type {
  color: rgba(0, 0, 0, 0.2);
}


.filters-product__choice:disabled+.filters-product__manufacturers::before {
  opacity: 0.1;
}

.filters-product__choice:disabled+.filters-product__type::before {
  opacity: 0.1;
}

.filters-product__show {
  width: 139px;
  margin-top: 62px;
  padding: 11px 0px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
}

.catalog-product {
  width: 700px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 9px 9px 9px 19px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.sorting__title {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
  text-transform: uppercase;
}

.sorting__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-left: 140px;
  padding: 0;
  list-style: none;
}

.sorting__link {
  position: relative;
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  line-height: 1.3;
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
  outline: none;
}

.sorting__link:hover,
.sorting__link:focus {
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid #ee3643;
}

.sorting__list :nth-child(2) {
  margin-left: 21px;
}

.sorting__list :nth-child(3) {
  margin-left: 15px;
}

.sorting__link-up,
.sorting__link-down {
  position: relative;
  display: block;
  outline: none;
}

.sorting__link-up::after {
  position: absolute;
  top: 4px;
  left: -1px;
  width: 11px;
  height: 10px;
  content: "";
  background-image: url("../img/icons/icon-up-dir.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
}

.sorting__link-down::after {
  position: absolute;
  top: 4px;
  left: -18px;
  width: 11px;
  height: 10px;
  content: "";
  background-image: url("../img/icons/icon-down-dir.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
}

.sorting__link-up_active::after {
  opacity: 1;
  background-image: url("../img/icons/icon-up-dir-red..svg");
}

.sorting__link-up:hover::after,
.sorting__link-down:hover::after,
.sorting__link-up:focus::after,
.sorting__link-down:focus::after {
  opacity: 1;
}

.sorting__link_active {
  color: #ee3643;
  border-bottom: none;
}

.popup-order {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 996;
  display: none;
  width: 620px;
  height: 282px;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
  box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.popup-order__close {
  position: absolute;
  top: 13px;
  right: 10px;
  z-index: 997;
  width: 21px;
  height: 21px;
  background-image: url("../img/icons/close-form.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.wrapper-popup-order__title {
  padding: 50px 124px 68px 178px;
}

.popup-order__title {
  position: relative;
  margin: 0;
  font-size: 30px;
  font-weight: normal;
}

.popup-order__title::before {
  position: absolute;
  top: -10px;
  left: -90px;
  ;
  width: 66px;
  height: 66px;
  content: "";
  background-image: url("../img/icons/success.svg");
  background-repeat: no-repeat;
}

.wrapper-popup-order__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 112px;
  background-color: #f1f1f1;
}

.popup-order__link {
  display: block;
  width: 220px;
  margin: 0px 20px;
  padding: 12px 0px;
  font-size: 14px;
  line-height: 1;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 3px;
  outline: none;
}

.popup-modal__order_red {
  color: #ffffff;
  background-color: #ee3643;
}

.popup-modal__order_red:hover,
.popup-modal__order_red:focus {
  background-color: #ca2c37;
}

.popup-modal__order_red:active {
  background-color: #ba2732;
}

.popup-order_display {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.page__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  outline: none;
}

.page__link_active {
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.page__link-next {
  width: 140px;
  text-transform: uppercase;
}

.page__link:hover,
.page__link:focus {
  border: 1px solid #bdc6ca;
}

.page__link:active {
  color: #000000;
  border: 1px solid #ee3643;
}

.wrapper-about-product {
  margin-top: 60px;
  background-color: #f2f6f8;
}

.about-product {
  padding: 57px 0px 68px;
}

.about-product__title,
.about-product__subtitle {
  margin: 0;
}

.about-product__title {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.about-product__subtitle {
  margin-top: 19px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.9;
}

/* Анимация попапов */

@-webkit-keyframes bounce {

  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0, 0.61, 0.355, 1);
  }

  0% {
    -webkit-transform: translate(-50%, -3000px);
    -ms-transform: translate(-50%, -3000px);
    transform: translate(-50%, -3000px);
  }

  60% {
    -webkit-transform: translate(-50%, 25px);
    -ms-transform: translate(-50%, 25px);
    transform: translate(-50%, 25px);
  }

  75% {
    -webkit-transform: translate(-50%, -10px);
    -ms-transform: translate(-50%, -10px);
    transform: translate3d(-50%, -10px);
  }

  90% {
    -webkit-transform: translate(-50%, 5px);
    -ms-transform: translate(-50%, 5px);
    transform: translate(-50%, 5px);
  }

  to {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

}

@keyframes bounce {

  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0, 0.61, 0.355, 1);
  }

  0% {
    -webkit-transform: translate(-50%, -3000px);
    -ms-transform: translate(-50%, -3000px);
    transform: translate(-50%, -3000px);
  }

  60% {
    -webkit-transform: translate(-50%, 25px);
    -ms-transform: translate(-50%, 25px);
    transform: translate(-50%, 25px);
  }

  75% {
    -webkit-transform: translate(-50%, -10px);
    -ms-transform: translate(-50%, -10px);
    transform: translate3d(-50%, -10px);
  }

  90% {
    -webkit-transform: translate(-50%, 5px);
    -ms-transform: translate(-50%, 5px);
    transform: translate(-50%, 5px);
  }

  to {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@-webkit-keyframes shake {

  from,
  to {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-51%, 0);
    -ms-transform: translate(-51%, 0);
    transform: translate(-51%, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-49%, 0);
    -ms-transform: translate(-49%, 0);
    transform: translate(-49%, 0);
  }
}

@keyframes shake {

  from,
  to {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-51%, 0);
    -ms-transform: translate(-51%, 0);
    transform: translate(-51%, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-49%, 0);
    -ms-transform: translate(-49%, 0);
    transform: translate(-49%, 0);
  }
}
